<!--<div class="hero-unit">
  <h1>Hi Biatch!</h1>
  <p>U need to register!</p>
  <p><a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Register</a></p>
</div>
-->

<p><a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Register</a></p>

<%= render './users/new' %>
